.container-bg {
  background-image: url(https://img.olympicchannel.com/images/image/private/t_16-9_1240-700/f_auto/v1538355600/primary/xsbt6fge6rosxfpamf2e);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.frosted-glass-bg {
  position: absolute;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, .5);
  background: inherit;
  overflow: hidden;
  z-index: 2;
}

.frosted-glass-bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: inherit;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: blur(10px);
  z-index: -1;
}

.item-1 {
  width: 400px;
  height: 250px;
  top: 10%;
  left: 10%;
}

.item-2 {
  width: 400px;
  height: 250px;
  top: 12%;
  left: 12%;
  transform: rotateZ(20deg);
}

.item-3 {
  width: 400px;
  height: 250px;
  top: 14%;
  left: 14%;
  transform: rotateZ(40deg);
}

.item-4 {
  width: 400px;
  height: 250px;
  top: 55%;
  right: 10%;
  transform: rotateZ(-20deg);
}

.item-5 {
  width: 400px;
  height: 250px;
  top: 55%;
  right: 15%;
}

.message-area-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  font-weight: 600;
  color:rgba(255, 255, 255, 1);
  transform: translate(-50%, -50%);
  z-index: 2;
}


.font-1 {
  font-size: 25px;
  font-weight: 600;
  color:rgba(255, 255, 255, .8);
}

.font-2 {
  font-size: 20px;
  margin-top: 20px;
  color: rgba(255, 255, 255, .8);
}


