body {
  margin: 0;
  padding: 0;
}

.main-box {
  display: flex;
}

.display-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 100vh;
}

.display-chart .chart {
  width: 500px;
  height: 500px;
}

.workspace {
  width: 30vw;
  height: 100vh;
  padding: 30px 20px;
  box-sizing: border-box;
}

.btn-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.btn {
  height: 40px;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.color-area {
  display: flex;
}

.color-block {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.data-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.inputBtn {
  height: 30px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

.table-box {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50vw;
  height: 500px;
  padding: 20px;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #fff;
  box-sizing: border-box;
}

.table-box .btn {
  width: 100px;
  height: 30px;
  margin: 0 10px 0 0;
  font-weight: 600;
}

.table-box .table-content {
  height: 430px;
  margin-top: 10px;
}

.mark {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: .3;
  z-index: 1;
  background-color: #000;
}

.f1 {
  margin: 0;
  font-size: 60px;
  font-weight: 600;
}

.f2 {
  font-size: 26px;
  font-weight: 600;
}

.welcome-content {
  display: flex;
}

.welcome-content div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  margin: 0 20px 0 0;
  border-radius: 8px;
  cursor: pointer;
}

.welcome-content .left {
  background-image: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);
}

.welcome-content .right {
  background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
}

.download-btn {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  background-color: #2b73af;
  cursor: pointer;
}

.title-input {
  height: 30px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.title-btn {
  height: 30px;
  width: 60px;
  font-weight: 600;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
}

.rows-columns-input {
  width: 50px;
  height: 30px;
  padding: 0;
  text-align: center;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #f2f3f5;
}