/*===================
      自定义样式
===================*/

.first-page {
  background-image: url('https://cdn.pixabay.com/photo/2015/03/26/10/27/landscape-691374_960_720.jpg');
  background-size: cover;
  filter: brightness(.9);
}

.container {
  position: relative;
  width: 809px;
  height: 500px;
  border-radius: 8px;
  box-sizing: border-box;
  transform: scale(1.4);
}

.border {
  border: 2px solid #ebedf0;
}

.btn {
  padding: 10px 80px;
  border:none;
  border-radius: 25px;
}

.title-move {
  animation: fade_in 2s ease;
}