.f1 {
  position: absolute;
  bottom: 120px;
  right: 0;
  font-size: 50px;
  font-weight: 600;
}

.f2 {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
}

.f3 {
  position: absolute;
  bottom: 20px;
  right: 0;
}

.c1 {
  color: #ccc;
}