/*================
      内容布局
=================*/

/* 居中 */
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 左右两栏 */
.flex-lr {
  display: flex;
}

.flex-lr .left {
  width: 500px;
  height: 500px;
}

.flex-lr .right {
  width: 308px;
  height: 500px;
}

/* 上下两栏 */
.flex-td {
  display: flex;
  flex-direction: column;
}

.flex-td .up {
  height: 309px;
  width: 809px;
}

.flex-td .down {
  height: 191px;
  width: 809px;
}

/* 三区域 */
.grid-three-area {
  display: grid;
  grid-template-columns: 500px 309px;
  grid-template-rows: 309px 191px;
}

.main-item {
  grid-row-start: 1;
  grid-row-end: 3;
}