/*==================
      元素样式
==================*/

/* 字号 */
.text-lg {
  font-size: 34px;
}

.text-md {
  font-size: 24px;
}

.text-sm {
  font-size: 16px;
}

/* 文字加粗 */
.text-weight {
  font-weight: 600;
}

/* 字体颜色 */
.white {
  color: #fff;
}

.grey {
  color: #c8c9cc
}

.black {
  color: #2c2b2b
}

/* 文字内容的宽度 */
.text-width {
  width: 480px;
}

/* 内边距 */
.p-lg {
  padding: 50px;
}

/* 外边距 */
.m-lg {
  margin:20px 0;
}


/* 定位 */
.pre {
  position: relative;
}

.pre .lower-right {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.tr {
  transform: translate(80px, 30px);
}

/* 图片背景 */
.img-area {
  width: 150px;
  height: 200px;
}

